@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

:root {
    font-size: 10px;
    background: linear-gradient(to bottom,
            #03010C 20%,
            #120113 10%,
            #38020C 75%,
            #05020D 100%);

    --fuenteLogoLink: "Righteous", sans-serif;
    --fuenteTextos: "Raleway", sans-serif;

    --colorContainer: rgba(5, 3, 14, 0.5);
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
    --colorPlomo: #D9d9d9;
    --colorAzul: #0F1640;
    --colorPlaceholder: #2D2C30;

    color: var(--colorBlanco);

}

* {
    font-family: var(--fuenteTextos);
}

a {
    font-family: var(--fuenteLogoLink);
}

h1 {
    font-size: 3.5rem;
}


/* VISTA MOVIL */


/* HEADER */
body {
    height: 100%;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    /* en figma decia 12px pero me parecio pequeño jaja CHARLABLE */

}

.logo img {
    width: 4rem;
    margin-right: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    align-items: center;
    height: 7rem;

}

nav ul {
    /* uculto la lista del navbar */
    display: none;
    list-style: none;
}

nav ul li {
    margin-right: 1.5rem;
}

/* BANNER */
.banner {
    width: 100%;
    margin-bottom: 3rem;
}

/* INDEX */
/* SECTION CARD*/
.titulo-shows {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--colorContainer);
    margin: 0 auto;
    border-radius: 1rem;
}

.contenedor-cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.carta {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.carta img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 325px;
    height: 150px;
    
}

.carta .texto-carta {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-family: var(--fuenteTextos);
}

.texto-carta p:nth-child(1) {
    font-size: 3rem;
    /* Tamaño del primer párrafo */
}

.texto-carta p:nth-child(2) {
    font-size: 1.8rem;
    /* Tamaño del segundo párrafo */
}

.texto-carta p:nth-child(3) {
    font-size: 1.5rem;
    /* Tamaño del tercer párrafo */
}

/* SECTION PLAYLIST */
.playlist {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* CONTACTO */

.sectionContacto {
    width: 87%;
}

.titulo-contacto {
    margin: 2rem 2.5rem;
    font-size: 2rem;
}

.formContacto {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0 2.5rem;
    margin-bottom: 2.5rem;
}

.formContacto input {
    margin-bottom: 2rem;
    height: 3rem;
}

.formContacto label {
    margin-bottom: 0.5rem;
}

.sectionContacto textarea {
    height: 7.5rem;
}

.btn-contacto {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: var(--fuenteLogoLink);
    background-color: var(--colorAzul);
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }
}

/* Login */
.login {
    height: 70vh;
}

/* Registro */
.contenedorRegistro {
    display: flex;
    gap: 5%;
    align-items: baseline;
    justify-content: space-between;
}


.contenedorRegistro select,
.contenedorRegistro input {
    color: var(--colorPlaceholder);
    height: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}

/* EVENTO */
.banda-evento {
    display: flex;
    width: 90%;
    margin: 3rem auto;
    border-radius: 1rem;
}

.contenedor-evento {
    background-color: var(--colorContainer);
}

.artista {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

.titulo-evento {
    font-size: 2.4rem;
}

.evento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.descripcion-evento {
    font-size: 1.2rem;
}

.datos-evento img {
    width: 1.5rem;
}

.datos-evento ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.datos-evento ul li img {
    margin-right: 10px;
}

.tiempo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    align-items: center;
}

.tiempo p {
    font-weight: bold;
}

.comprar-ticket {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0 3rem;
}

.comprar-ticket a {
    text-align: center;

}

.comprar-ticket p {
    font-weight: normal;
    width: 100%;
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    font-size: 1.4rem;
}
.mapa h2{
    padding: 0 1.5rem;
    font-size: 2rem;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0 1rem;
    margin-top: auto;
    margin: 3rem 0 0;
    font-size: 1.2rem;
    font-family: var(--fuenteLogoLink);
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin-right: 1.5rem;
    margin-top: 1rem;
}

/* TAMAÑO PARA TABLET */
@media (min-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem 0 3rem;
        height: 7rem;
        font-size: 1.5rem;
    }

    nav ul {
        /* muestro la lista del navbar */
        display: flex;
    }

    .titulo-shows {
        font-size: 3.2rem;
    }

    .contenedor-cartas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    /* CONTACTO */

    .titulo-contacto {
        font-size: 3rem;
    }

    .btn-contacto {
        font-size: 2rem;
    }

    .sectionContacto textarea {
        height: 19rem;
    }

    footer {
        font-size: 1.5rem;
    }
}

/* TAMAÑO PARA DESKTOP */
@media (min-width: 1044px) {

    section {
        width: 80%;
    }

    .contenedor-cartas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .carta {
        display: flex;
        flex-direction: column;
    }

    .carta:nth-child(1) {
        grid-column: span 2;
    }

    .carta img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carta:nth-child(2),
    .carta:nth-child(3),
    .carta:nth-child(4),
    .carta:nth-child(6) {
        grid-column: span 1;
    }

    .carta:nth-child(5) {
        grid-column: span 2;
    }

    .playlist {
        width: 60%;

    }

    /* CONTACTO */
    .sectionContacto {
        width: 60%;
    }

    .titulo-contacto {
        text-align: center;
    }
}