@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

:root {
    font-size: 10px;
    background: linear-gradient(to bottom,
            #03010C 20%,
            #120113 10%,
            #38020C 75%,
            #05020D 100%);

    --fuenteLogoLink: "Righteous", sans-serif;
    --fuenteTextos: "Raleway", sans-serif;

    --colorContainer: rgba(5, 3, 14, 0.5);
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
    --colorPlomo: #D9d9d9;
    --colorAzul: #0F1640;
    --colorPlaceholder: #2D2C30;

    color: var(--colorBlanco);

}

* {
    font-family: var(--fuenteTextos);
}

a {
    font-family: var(--fuenteLogoLink);
}

h1 {
    font-size: 3.5rem;
}


/* TAMAÑO PARA Mobiles */
/* @media (min-width: 525px) {

/* HEADER */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    /* en figma decia 12px pero me parecio pequeño jaja CHARLABLE */

}

.logo img {
    width: 4rem;
    margin-right: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.8rem;
    height: 7rem;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1.5rem;
}

/* BANNER */
.banner {
    width: 100%;
    margin-bottom: 3rem;
}

/* SECTION CART*/
.titulo-shows {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--colorContainer);
    margin: 0 auto;
}

.contenedor-cartas {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.carta {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.carta img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 325px;
    height: 150px;
}

.carta .texto-carta {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-family: var(--fuenteTextos);
}

.texto-carta p:nth-child(1) {
    font-size: 3rem;
    /* Tamaño del primer párrafo */
}

.texto-carta p:nth-child(2) {
    font-size: 1.8rem;
    /* Tamaño del segundo párrafo */
}

.texto-carta p:nth-child(3) {
    font-size: 1.5rem;
    /* Tamaño del tercer párrafo */
}

/* SECTION PLAYLIST */
.playlist {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0 1rem;
    margin-top: auto;
    margin: 3rem 0 0;
    font-size: 1.2rem;
    font-family: var(--fuenteLogoLink);
    /* PREGUNTAR SI IVA ESTA FUENTE ACA EN EL PARRAFO */
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    margin-right: 1.5rem;
    margin-top: 1rem;
}